{{ partial "_index_header" . }}

<div class="intro">

    <h1><a href="https://twitter.com/search?q=%E5%AD%A6%E7%94%9FLT&src=typd" target="_blank" class="title-link">{{ .Site.Title }}</a></h1>

    <h2 class="sub-title">{{ markdownify .Site.Params.Description }}</h2>
<a type="button" class="btn btn-primary btn-lg alink" id="find_button" target="_blank" href="https://student-lt.connpass.com/">イベント一覧</a>
</div>
<main>



    <div class="about text-justify">

        {{ .Content }}

    </div>

</main>
{{ partial "footer" . }}
