html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;


}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;

}


/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/
.intro {
    padding: 35vh 0;
    background-position:left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("/images/creative.jpg");
    background-size:cover;



}

.intro > h1 {
    color: #292929;
    font-size: 13vh;
}

.intro > h2 {
    color:white;
    font-size: 3vmin;
}

/*content*/

.content-title {
    font-size: 3.4vmin;
}

.text-justify h1 {
    margin-top:0px;
    font-size: 3vh;
}

.text-justify p, .text-justify li {
    font-size: 2vh;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

iframe {
    width: 100%;
}
/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}
