<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    {{ range .Site.Params.highlightLanguages }} <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script> {{ end }}

    <script>hljs.initHighlightingOnLoad();</script>

{{ end }}

<!-- custom -->
{{ range .Site.Params.js }} <script src="{{ . }}"></script> {{ end }}

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- TODO: 無理やりタイトルをフェードイン -->
<style>
    .intro h1{
        opacity: 0;
    }

    .intro h2{
        opacity: 0;
    }

    .intro + .about{
        opacity: 0;
    }
</style>

<script>
    $(document).ready(function() {
        $('.intro h1').delay(300).animate({ opacity: 1 }, 500);
        $('.intro h2').delay(800).animate({ opacity: 1 }, 500);
        $('.intro + .about').delay(1800).animate({ opacity: 1 }, 500);
    $('#find_button').click(function(){
        var speed = 500;
        var href= $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top;
        $("html, body").animate({scrollTop:position}, speed, "swing");
        return false;
    });

    });
</script>
